<div class="container">
    <h3>Cadastro</h3>

    <form #formBook="ngForm">

        <div class="row">
            
            <label for="title" class="form-label">Título: </label>

            <div>

                <input type="text" class="form-control" [(ngModel)]="book.title" name="title" required>

            </div>

        </div>

        <div class="row">
            
            <label for="author" class="form-label">Autor: </label>

            <div>

                <input type="text" class="form-control" [(ngModel)]="book.author" name="author" required>

            </div>

        </div>

        <div class="row">
            
            <label for="price" class="form-label">Preço: </label>

            <div>

                <input type="number" class="form-control" [(ngModel)]="book.price" name="price" required>

            </div>

        </div>

        <div class="row mt-3">
            
            <button (click)="save()" [disabled]="formBook.invalid" class="btn btn-primary">Salvar</button>

        </div>

    </form>
</div>







