<app-book [book]="book" (saveEmitter)="saveBook()"></app-book>

<div class="container">

    <h3>Livros cadastrados</h3>

    <table class="table">

        <thead>

            <tr>

                <th>#</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Preço</th>
                <th class="text-end">Opções</th>

            </tr>

        </thead>

        <tbody>

            <tr *ngFor="let book of books">
                <td>{{book.id}}</td>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td>{{book.price}}</td>
                <td class="text-end">
                    <button (click)="alteraLivro(book)" class="btn btn-success me-2">Alterar</button>
                    <button (click)="deletaLivro(book)" class="btn btn-danger">Remover</button>
                </td>
            </tr>

        </tbody>

    </table>

</div>